.container {
      position: fixed;
      overflow: auto;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      scroll-behavior: smooth;
      height: 100%;
    }

    .header-row {
      background-color: rgb(30, 165, 188);
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: sticky;
      top: 0px;
    }

    .skills-section {
  padding: 40px;
  text-align: center;
  background-color: #f4f4f4;
}

.skills-section h2 {
  font-size: 32px;
  margin-bottom: 30px;
  color: #333;
}

.skills-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s ease;
}

.skill img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.skill p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.skill:hover {
  transform: scale(1.1);
}

ul {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
      }
    .header-row .box {
      padding: 10px;
    }

    .header-row li {
      display: flex;
      justify-content: space-around;
      padding: 5px;
      font-size: larger;
    }

    .header-row a {
      text-decoration: none;
    }

    .header-row a:hover {
      text-decoration: underline;
    }

    .row {
      padding: 100px;
      height: 75%;
    }

    .row .box {
      padding: 20px;
      margin: 10px;
    }

    .footer {
      padding: 20px;
      margin: 0px;
      background-color: black;
      color: white;
      font-size: large;
    }

    button {
      background-color: teal;
      padding: 10px;
      color: white;
      border: none;
      border-radius: 10%;
    }